flask
flask-cors
flask-limiter
openai>=1.0.0
python-dotenv
pymupdf
langdetect
deep-translator
pymongo
PyJWT
google-genai
Flask-SQLAlchemy
scikit-learn
gunicorn

fastembed
twilio
reportlab
pandas
openpyxl
python-docx
